
*.db

SM_DLL/.vs/SM_DLL/v14/.suo

SM_DLL/.vs/SM_DLL/v14/.suo

*.db

*.opendb

*.db

*.db

*.vcxproj

*.filters
*.tlog
*.idb
*.lastbuildstate
*.exp

*.exe

*.obj

*.pdb

*.ilk

*.log

SM_DLL/.vs/SnakeMultiplayer/v14/.suo

*.vcxproj

*.filters

*.userprefs

*.lib

*.dll

*.dll
